In [30]:
import numpy as np
print id(1)

140262621887768

In [8]:
a = 1
print id (a)

140262621887768

In [9]:
b = 2
print id (b)

140262621887744

### 字符串不可变

In [10]:
a='abcdefg12345'
a[0]='A'
print(a[0],a[1])

TypeError: 'str' object does not support item assignment

### 赋到一个新的位置 原来的a仍然不变

In [11]:
a='abcdefg12345'
print(id(a))
a='A'+ a[1:]
print(id(a))

4455795992
4462951872

### split

In [39]:
my_str = "zhaoxuyan,18,重庆,213"
print my_str

zhaoxuyan,18,重庆,213

### pop del append in max min

In [14]:
str1=[1,2,3,4,5]

In [15]:
print(1 in str1)

True

### python3中 //为 python2中的/

In [20]:
print(3.0/2)

1.5

In [21]:
str1 = [1,2,3,4,4,4]

In [25]:
x=str1.index(4)
print x

3

In [26]:
print str1.index(4,x+1) # value,start

4

In [29]:
count_num = str1.count(4)
print count_num

3

### Numpy

In [31]:
np.mean(str1)

3.0

### 字典

In [49]:
a = (1,2,3,(1,1,1),['a',2])
print a

(1, 2, 3, (1, 1, 1), ['a', 2])

### 指针

In [43]:
a=[1,2,3,4]
b=a
b[0]=100
print(a,b)

([100, 2, 3, 4], [100, 2, 3, 4])

### 浅复制

> import copy

In [45]:
a=[1,2,3,4]
b=copy.copy(a)
b[0]=100
print(a,b)

([1, 2, 3, 4], [100, 2, 3, 4])

### 深复制

In [47]:
a=[1,2,3,4,[0,0,0]]
b=copy.deepcopy(a)
b[4][0]=100
print(a,b)

([1, 2, 3, 4, [0, 0, 0]], [1, 2, 3, 4, [100, 0, 0]])

### divmod

In [52]:
x = divmod(3,2)

In [53]:
print x # 返回商，余数

(1, 1)

In [76]:
print round(123.45,1) #四舍五入

123.5

### 元组列表有序 集合字典无序

In [61]:
list('10'*10)

['1',
 '0',
 '1',
 '0',
 '1',
 '0',
 '1',
 '0',
 '1',
 '0',
 '1',
 '0',
 '1',
 '0',
 '1',
 '0',
 '1',
 '0',
 '1',
 '0']

### 非0即真

In [62]:
a=[1,0,2,3]
b=(1) # 不是元组 只是优先级
b=(1,) # 元组

In [63]:
print(all(a))

False

In [64]:
print(any(a))

True

### 百分号

In [73]:
name = 'xzy'
age = 18
print '%s的年龄是%10.2f岁'%(name,age)

xzy的年龄是     18.00岁

In [77]:
a=[1,2,3]
b=a
print a is b

True

In [78]:
a=[1,2,3]
b=[1,2,3]
print a is b

False

In [79]:
a=1
b=1
print a is b

True